<!DOCTYPE html>
<html>
    <head>
        <title>Expert vision</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        </head>
        <body>
            <div class="contact">
                <h1>Contact Us</h1>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                   <i class="fa fa-headset" ></i>
                   <h4 class="top1">BY PHONE</h4>
                   <h6 class="top4">(Monday to Friday, 9am to 6pm GMT)</h6>
                   <p class="p"> North America Toll-Free:<br>
                         1-877-930-7483<br>
                      International:<br>
                       1-604-637-0780</p>

                </div>
                <div class="col-md-4">
                    <i class="fa fa-folder-open" ></i>
                    <h4 class="top2">START A NEW CASE</h4>
                    <p class="para">Just send us your questions or concerns by <br>starting a new case and we will give you<br> the help you need.</p><br>
                    <a href="mailto:hariharanr0402@gmail.com" class="btnn"> START HERE</a>

                </div>
                <div class="col-md-4">
                    <i class="fa fa-comments" ></i>
                    <h4 class="top3">LIVE CHAT</h4>
                    <p class="p">Chat with a member of our <br>in-house team.</p><br><br>
                    <a href="#" class="btnn"> START CHAT</a>


                </div>

                </div>
                <div class="sub">
                    <br>
                    <br>
                    <h1>Track a Case</h1>
                    <h3>View your thread of messages or any with our support team.</h3>
                    <br><br><br>
                    <div class="frm">
                    <input type="text"  class="name" placeholder="User Name"><br>
                    <input type="email"    class="email"  placeholder="Email Address">
                    <br>
                    <button class="butn">GO</button>
                    <br>
                    <br>
                </div>
                </div>

            </body>
        </html>
