<!DOCTYPE html>
<html>
    <head>
        <title>Expert vision</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    </head>
    <body>

        <div class="logo">

<i class="fa fa-journal-whills"></i>

</div>
<div class="abt" >
<h1>About Expert Vision</h1>
</div>

<article class="article">

<h3 class="topic">Vision</h3>
<p class="para">Create economic opportunity for every member of the global workforce.</p>
<h3 class="topic">Mission</h3>

<p class="para">The mission of Expert Vision is simple: connect the worlds professionals to make them more productive and successful.</p>
<h3 class="topic">Who are we?</h3>

<p class="para">Expert Vision began in co-founder Hariharan living room in 2002 and was officially launched on May 5, 2003.</p>

<p class="para">Today, Expert Vision leads a diversified business with revenues from membership subscriptions,
advertising sales and recruitment solutions under the leadership of prabakaran.
In December 2016, Microsoft completed its acquisition of Expert Vision, bringing together
the worlds leading professional cloud and the worlds leading professional network.</p>
</article>
<div id="more-info">
    <div id="more">
        <h4>For more information about company</h4>
     </div>
     <div id="info">
        <ul>
         <li ><a routerLink="#">Company page &#8594;</a></li>
         <li ><a routerLink="#">Product and Services &#8594;</a></li>
         <li ><a routerLink="#">Pressroom &#8594;</a></li>
         <li ><a routerLink="#">Company blog &#8594;</a></li>


        </ul>
        </div>
        </div>

</body>

</html>
